# IBM DATA SCIENTIST PROFESSIONAL CERTIFICATE - CAPSTONE PROJECT WEEK 3



## Segmenting and Clustering Neighborhoods in Toronto

## PART 1
### Using the pandas function "read_html" we can easily process the HTML string. 
### This particular table doesn't have <th> tags in the HTML markup, so we set header = 0 to use the first row as column names.
### Since we will discard the "Not Assigned" rows, we set them to NaN so we can later use the dropna method directly to discard such rows.

In [12]:
import pandas as pd

link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

tables = pd.read_html(link,header=0, na_values = ['Not assigned'])[0]

# create new column names
tables.columns = ['Postal Code', 'Borough', 'Neighbourhood']
tables.head(5)

  Postal Code           Borough     Neighbourhood
0         M1A               NaN               NaN
1         M2A               NaN               NaN
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront

### Drop the the rows on which the Borough is empty

In [13]:
tables.dropna(subset=['Borough'], inplace=True)

### Check if Neighborhood has NaN

In [14]:
Nan_Neighborhood = tables[tables['Neighbourhood'].isna()].shape[0]
print('Number of rows on which Neighborhood column is empty: {}'.format(Nan_Neighborhood))

Number of rows on which Neighborhood column is empty: 1

### Show which neighborhood is emtpy

In [15]:
tables[tables['Neighbourhood'].isna()]

  Postal Code       Borough Neighbourhood
8         M7A  Queen's Park           NaN

### Replace empty Neighborhood with Borough name and check again

In [16]:
tables['Neighbourhood'].fillna(tables['Borough'], inplace=True)
Nan_Neighborhood = tables[tables['Neighbourhood'].isna()].shape[0]
print('Number of rows on which Neighborhood column is empty: {}'.format(Nan_Neighborhood))

Number of rows on which Neighborhood column is empty: 0

### Confirm that Queen's Park Neighborhood is not empty now:

In [17]:
tables[tables['Borough']=="Queen's Park"]

  Postal Code       Borough Neighbourhood
8         M7A  Queen's Park  Queen's Park

### Grouping by Postal code and Borough

In [18]:
pc_grpd = tables.groupby(['Postal Code','Borough']).Neighbourhood.agg([('Neighbourhood', ', '.join)])
pc_grpd.reset_index(inplace=True)
pc_grpd.head(5)

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Rouge, Malvern
1         M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [22]:
print("Shape of the cleaned dataset is: ", pc_grpd.shape)

Shape of the cleaned dataset is:  (103, 3)

In [23]:
pc_grpd.to_csv("Toronto City")